<div id="editor" />

<script>
    import { onMount } from 'svelte';
    import Editor from '@toast-ui/editor';

    let editor;
    onMount(async () => {
        editor = new Editor({
            el: document.querySelector('#editor'),            
            initialEditType: 'wysiwyg',
            height: '100%',
            initialValue: content
        });  
    });
    
    const content = `# Hello World\n## Einleitung\n- Einleitung\n- Zusammenfassung\n## Zusammenfassung`;
    import '@toast-ui/editor/dist/toastui-editor.css'; // Editor's Style
</script>

<style scoped>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#editor {
  background-color: white;
}
</style>