<Window title={title} statusbar={["hi", "mom"]}>
  <Editor></Editor>
</Window>

<style>
</style>

<script>
    import Editor from "./lib/Editor.svelte";
    const title = "MarkOffice 2023";
    import Window from "./lib/Window.svelte";

</script>