html {
  zoom: 120%;
}
main, html, body, #app {
  height: 100%;
  margin: 0;
  background-color: rebeccapurple;
  overflow: hidden;
}
.window-body {
  overflow: auto;
}
.window {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  width: 100%;
}
.window-body {
  flex-grow: 1;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
}
.title-bar {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-app-region: drag;
}
.title-bar > .title-bar-controls {
  -webkit-app-region: no-drag;
}
.status-bar {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}